* {
	margin: 0px 0px 0px 0px;
	padding: 0;
	box-sizing: border-box;
}

#root {
	background-color: rgb(156, 190, 87);
	display: flex;
	justify-content: center;
}


.app {
	width: 800px;
}

.post {
	display: flex;
	padding: 15px;
	border: 1px solid #000;
	margin: 15px 0px 0px 0px;
	justify-content: space-between;
	align-items: center;
	min-width: 300px;
}

.post__btns {
	display: flex;
}

.post-exit {
	opacity: 1;
}

.page__wrapper {
	margin-top: 30px;
	display: flex;
}

.page {
	padding: 10px;
	border: 1px solid teal;
	cursor: pointer;
}

.page__current {
	border: 2px solid orange;
	font-weight: bold;
	padding: 15px;
}