* {
	margin: 0px 0px 0px 0px;
	padding: 0;
	box-sizing: border-box;
}

#root {
	background-color: rgb(156, 190, 87);
	display: flex;
	justify-content: center;
}


.app {
	width: 800px;
}

.post {
	display: flex;
	padding: 15px;
	border: 1px solid #000;
	margin: 15px 0px 0px 0px;
	justify-content: space-between;
	align-items: center;
	min-width: 300px;
}